ul{
    column-gap: 3pc;
    text-decoration: none;
    list-style: none;
    /* margin: 12pc; */
    position: relative;
    right: -44pc;
    align-self: center;
}

h2{
    font-family: cursive;
    margin-left: 10pc;
    font-size: 2pc;
}

.pati{
    margin-top: -116px;
    column-gap: 10pc;
}